venv

check-models.py

generate_faces.py

generate_faces1.py

main123.py

find-image-models.py

*env

asda.py

.python-version

pyproject.tomls

.streamlit

licenta.db

uv.lock

__pycache__

GEMINI.md



/Users/21scoob/Desktop/Code/ProiectLicentaCNN/server/.env
.gemini/
gha-creds-*.json


/Users/21scoob/Desktop/Code/ProiectLicentaCNN/tests/test_auth.py

/Users/21scoob/Desktop/Code/ProiectLicentaCNN/.github

ARHITECTURA_SI_FLUX.md


skills-lock.json

.agents

/Users/21scoob/Desktop/Code/ProiectLicentaCNN/server/licenta.db-shm

*.db-shm
*.db-wal