venv

check-models.py

generate_faces.py

generate_faces1.py

main123.py

find-image-models.py

*env

asda.py

.python-version

pyproject.tomls

.streamlit

licenta.db

uv.lock

__pycache__

GEMINI.md

api.py

/Users/21scoob/Desktop/Code/ProiectLicentaCNN/server/.env