torch
torchvision
numpy
pandas
scikit-learn
Pillow
transformers
diffusers
accelerate
safetensors
google-genai
google
icrawler 
face_recognition 
opencv-python
streamlit
psycopg2-binary
SQLAlchemy
matplotlib
seaborn
python-dotenv
tqdm
pip-system-certs
supabase
fastapi 
uvicorn 
sqlalchemy 
passlib 
python-multipart
python-jose[cryptography]
streamlit
requests
bcrypt
extra-streamlit-components
stripe
slowapi